<div class="text-center">
  <h1 class="pb-5">Our selection</h1>
    <div class="row d-flex justify-content-around">
      <% @cocktails.each do |c| %>
        <%= link_to cocktail_path(c) do %>
          <div class="col-12 col-lg-3">
            <div class="flip-card mb-5">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <%= cl_image_tag c.photo, alt: "cocktail photo", height: 300, width: 300, crop: :fill, class: 'rounded' %>
                </div>
                <div class="flip-card-back d-flex align-items-center">
                  <h1><%= c.name %></h1>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
